
.cnwth {

}

.search {
    left: 0;
    position: relative;
}

#auto_div {
    display: none;
    /*position: absolute;*/
    border: 1px #74c0f9 solid;
    background: #FFF;
    top: 24px;
    left: 0;
    color: #323232;
    z-index: 9999;
    /*margin-left: 12px;*/
    max-height: 200px;
    overflow-y: auto;
}

.search_switch {
    background-color: #FFE4B5;
}

.fa-envelope-o .count {
    display: none;
    padding: 0.5px 3px;
    background: #fd4824;
    border-radius: 10px;
    height: 10px;
    line-height: 18px;
    color: #fff;
    font-size: 2px;
    transform: translate(-50%, -50%);
    position:relative;
    top:-6px;
}
