.cnwth {

}

.search {
    left: 0;
    position: relative;
}

#auto_div {
    display: none;
    /*position: absolute;*/
    border: 1px #74c0f9 solid;
    background: #FFF;
    top: 24px;
    left: 0;
    color: #323232;
    z-index: 9999;
    /*margin-left: 12px;*/
}

.search_switch {
    background-color: #FFE4B5;
}